@media only screen and (min-width: 720px) {
    header {
        background: orange;
        color: white;
    }
    .hero-text {
        position: absolute;
        top: 80%;
        left: 30%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
    }
    .hero-text h2 {
        font-size: 3rem;
        margin: 0;
      }   
    main {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    nav {
        display: block;
    }
    nav ul{
        display: flex;
        justify-content: space-around;
    }
    #menu{
        display: none;
    } 
}